altgraph==0.16.1
atomicwrites==1.3.0
attrs==19.3.0
auto-py-to-exe==2.6.6
bottle==0.12.18
bottle-websocket==0.2.9
cffi==1.13.2
colorama==0.4.3
Eel==0.11.0
future==0.18.2
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
importlib-metadata==1.3.0
joblib==0.14.1
more-itertools==8.0.2
numpy==1.18.1
packaging==20.0
pandas==0.25.3
pefile==2019.4.18
pluggy==0.13.1
py==1.8.1
pycparser==2.19
PyInstaller==3.6
pyparsing==2.4.6
pytest==5.3.2
python-dateutil==2.8.1
pytz==2019.3
pywin32-ctypes==0.2.0
scikit-learn==0.22.1
scipy==1.4.1
six==1.13.0
sklearn==0.0
Unidecode==1.1.1
wcwidth==0.1.8
whichcraft==0.6.1
zipp==0.6.0
notebook
